* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}
div {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  overflow: hidden;
  background: #50b3a2;
  color: #fff;
  padding: 30px;
  min-height: 70px;
  border-bottom: #d6c5c0 3px solid;
  border-radius: 20px;
}
